html, body {
  height: 100%;
  width: 100%;
}

.page-square {
  background: #ccc;
  color: #fff;
  height: 50%;
  opacity: 0.50;
  text-align: center;
}

.page-square:hover {
  opacity: 100;
  cursor: pointer;
}

.page-square p {
  position: relative;
  top: 40%;
  font-size: 48px;
  font-family: Open Sans;
}

#squareTopLeft {
  background: #2c3e50;
}

#squareTopRight {
  background: #ffffff;
  color: #2c3e50;
}

#squareBottomLeft {
  background: #ffffff;
  color: #2c3e50;
}

#squareBottomRight {
  background: #2c3e50;
}

.portrait {
  position: absolute;
  height: 10%;
  width: 10%;
  top: 40%;
  left: 45%;
  text-align: center;
}

.portrait img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.author-name {
  position: fixed;
  right: 52%;
  bottom: 41.5%;
  font-size: 72px;
  font-family: Open Sans;
  font-weight: bold;
  letter-spacing: -5px;
  color: #2c3e50;
}

.author-lastname {
  position: fixed;
  left: 52.5%;
  top: 42%;
  font-size: 72px;
  font-family: Open Sans;
  font-weight: bold;
  letter-spacing: -5px;
  color: #2c3e50;
}
