html, body {
  height: 100%;
  width: 100%;
}

.page-square {
  background: #ccc;
  color: #fff;
  height: 50%;
  text-align: center;
}

.page-square:hover {
  opacity: 0.65;
  cursor: pointer;
}

.page-square p {
  position: relative;
  top: 40%;
  font-size: 36px;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

#squareTopLeft {
  background: #1abc9c;
}

#squareTopRight {
  background: #2ecc71;
}

#squareBottomLeft {
  background: #e67e22;
}

#squareBottomRight {
  background: #e74c3c;
}

.portrait {
  position: absolute;
  height: 10%;
  width: 10%;
  top: 42%;
  left: 45%;
  text-align: center;
}

.portrait img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.author-name {
  font-size: 21px;
  color: #000;
}
